
html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.app-wrapper {
  height: 100%;
}

.playlist-wrapper {
  border: black solid 1px;
  /*overflow: hidden;*/
}

#grid {
  width: 100%;
}

.playlist-el {
  margin: 1em;
}

.sortable-list-wrapper {
  border: black solid 1px;
  background-color: white;
}

.app-wrapper {
  background-color: #141414;
  color: #E5E5E5;
}
