
html, body {
  min-height: 100vh;
  height:100%;
  background-color: #141414;
}

#root {
  min-height: 100vh;
  height: 100%;
}

.app-wrapper {
  background-color: #141414;
  color: #E5E5E5;
  height: 100%;
}

@media screen and (min-width: 992px) {
  .play-controls {
    margin-top: 4em;
  }
}

.home-wrapper {
  margin-top: 2em;
}

.playlist-wrapper {
  border: black solid 1px;
  overflow: hidden;
}

.youtube-wrapper {
  text-align: center;
  position:relative;
  overflow:hidden;
}

.playlist-el {
  margin: 1em;
  border-radius: 2px;
  padding: 7px;
}

.playlist-el:hover {
  cursor: pointer;
}

.sortable-list-wrapper {
  border: black solid 1px;
  background-color: white;
}

.grey {
  background-color: grey;
  color: black;
}

.white {
  background-color: white;
  color: black;
}

.active-vid {
  border: red solid 2px;
}

.controls-buttons {
  text-align: center;
  margin: 1em 0 1em 0;
}

.controls-buttons > button {
  margin: 0 2em 0 2em;
}
